<div class="footer--info">
    <div class="footer--item">
        <img src="/Content/Assets/images/logobk.png" alt="" class="footer--logo" />
    </div>
    <div class="footer--item">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855370.519900539!2d100.95647349999999!3d19.32536050000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31373740e95f4949%3A0x8c9821d7ac93ad13!2sB%C3%A1ch%20Khoa%20Cinema!5e0!3m2!1svi!2s!4v1677682538103!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="footer--item">
        Contact:

        <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f footer--media"></i>
        </a>
        <a href="https://www.instagram.com/">
            <i class="fab fa-instagram footer--media"></i>
        </a>
        <a href="https://www.youtube.com/">
            <i class="fab fa-youtube footer--media"></i>
        </a>
        <a href="https://www.google.com/">
            <i class="fab fa-google footer--media"></i>
        </a>
    </div>
    <div class="footer--item">
        <div class="footer--support">
            <span style="text-transform: uppercase; color: #d42304">Chăm sóc khách hàng:</span>
            <br />
            <br />
            Hotline: 1900 112 113<br />
            <br />
            Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)<br />
            <br />
            Email hỗ trợ:<span style="color: #d42304"> hoidap@bachkhoacinema.vn</span>

            <br />

            <span style="color: #d42304">bachkhoacinema.author</span>
        </div>
    </div>
</div>
